<p class="intro hidden-xs">
	<%= Settings.tagline.html_safe %>
</p>

<section id="filters-mobile" class="btn-group btn-group-justified visible-xs">
	<a class="btn btn-default" href="#">What? <span class="glyphicon glyphicon-chevron-down"></span></a>
	<a class="btn btn-default" href="#">When? <span class="glyphicon glyphicon-chevron-down"></span></a>
	<a class="btn btn-default" href="#">Where? <span class="glyphicon glyphicon-chevron-down"></span></a>
</section>

<section class="row">
	<div id="filters" class="col-sm-4 hidden-xs">
		<%# Navigation is meant to happen here through ajax %>
		<% if params[:js] == 'no' %>
			<%= render "ajaxfilters" %>
		<% else %>
			<p class="nofilter">Oops, the filters didn't seem to load properly.</p>
			<p class="nofilter"><a href="?js=no">Click here to reload the page.</a></p>
		<% end %>
	</div>
	<div id="activitylist" class="col-sm-8">
		<div class="slice">
			<h5>Today</h5>
			<ul class="list-group">
				<% 10.times do %>
					<li class="list-group-item">
						<a href="<%= frontactivity_path(id: 'aaaaa') %>">
							<p class="time">2.15pm</p>
							<p class="place">Golden Gate Park</p>
							<p class="title">Picnicing and having fun</p>
						</a>
					</li>
				<% end %>
			</ul>
		</div>
	</div>
</section>