<main id="index" class="container">

	<p class="intro">
		Meet friendly people today in&nbsp;San&nbsp;Francisco.
	</p>

	<section class="row">
		<div class="col-sm-4 col-sm-offset-1">
			<a class="btn btn-default mainbtn">
				<h3>I wanna hang!</h3>
				<p>See upcoming activities<br>from other members.</p>
			</a>
		</div>
		<div class="col-sm-4 col-sm-offset-2">
			<a class="btn btn-default mainbtn">
				<h3>I have an idea!</h3>
				<p>Offer your own activity<br>so people join you.</p>
			</a>
		</div>
	</section>
</main>

<div id="appModeNoteiPhone" class="appModeNote">
	<p class="closeAppMode">✖</p>
	<h5>Instant install for iPhone users</h5>
	<p>Click here, then "Add to Home Screen"</p>
	<p>▼</p>
</div>
<div id="appModeNoteiOS" class="appModeNote">
	<p class="closeAppMode">✖</p>
	<h5>Instant install for iPad users</h5>
	<p>Click on the icon that looks like this <%= image_tag 'icons/shareiOS.png' %> then "Add to Home Screen"</p>
</div>
<div id="appModeNoteOther" class="appModeNote">
	<p class="closeAppMode">✖</p>
	<h5>Instant install of Let's Hang!</h5>
	<p>Simply add this page to your homescreen</p>
</div>