// Place all the styles related to the core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* Homepage */

main#index {
	.intro {
		margin-top: 30px;
		text-align: center;
		font-size: 1.1em;
	}
	.mainbtn {
		display: block;
		margin-top: 30px;
		margin-bottom: 10px;
		text-wrap: normal;
	}
}

@media (min-width: 768px) {
	main#index .intro {
		margin-top: 80px;
		margin-bottom: 30px;
		font-size: 1.3em;
	}
}

#appModeNote {
	background-color: #f8f8f8 ;
	border-top: 1px solid #adadad ;
	bottom: 0px ;
	display: none ;
	left: 0px ;
	position: fixed ;
	text-align: center ;
	width: 100% ;
	.closeAppMode {
		text-align: right;
		padding: 5px 10px 0;
		font-size: 0.8em;
	}
	.noarrow {
		padding-bottom: 20px;
	}
}

/* Activities */

#activities {
	.intro {
		font-style: italic;
	}
	#activitylist {
		margin-top: 30px;
		li {
			padding: 0;
			height: 42px;
			a {
				display: block;
			}
			a:hover p {
				text-decoration: none;
			}
			p {
				display: inline-block;
				margin: 0;
			}
			p.time {
				background: #eeeeee;
				border-right: 1px solid #dddddd;
				padding: 10px;
				color: black;
			}
			p.title {
				padding: 10px;
				font-weight: bold;
				color: black;
			}
			p.place {
				padding: 10px;
				font-style: italic;
				float: right;
				color: #888888;
			}
		}
	}

	#filters {
		margin-top: 30px;
		li.fold {
			text-align: center;
			font-size: 0.8em;
			padding-top: 2px;
			padding-bottom: 2px;
		}
	}
}