// Place all the styles related to the core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* Homepage */

main#home {
	.intro {
		margin-top: 30px;
		text-align: center;
		font-size: 1.1em;
	}
	.mainbtn {
		display: block;
		margin-top: 30px;
		margin-bottom: 10px;
		text-wrap: normal;
	}
}

@media (min-width: 768px) {
	main#home .intro {
		margin-top: 80px;
		margin-bottom: 30px;
		font-size: 1.3em;
	}
}

#appModeNote {
	background-color: #f8f8f8 ;
	border-top: 1px solid #adadad ;
	bottom: 0px ;
	display: none ;
	left: 0px ;
	position: fixed ;
	text-align: center ;
	width: 100% ;
	.closeAppMode {
		text-align: right;
		padding: 5px 10px 0;
		font-size: 0.8em;
	}
	.noarrow {
		padding-bottom: 20px;
	}
}

/* Activities */

#activities {
	.intro {
		font-style: italic;
	}
	#activitylist {
		margin-top: 30px;
		li {
			padding: 0;
			height: 42px;
			a {
				display: block;
			}
			p {
				margin: 0;
				padding: 10px;
			}
			p.time {
				background: #eeeeee;
				border-right: 1px solid #dddddd;
				padding: 10px 7px;
				color: black;
				float: left;
				clear: both;
			}
			p.place {
				font-style: italic;
				float: right;
				color: #888888;
			}
			p.title {
				font-weight: bold;
				color: black;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}

	#filters {
		margin-top: 30px;
		li.fold {
			text-align: center;
			font-size: 0.8em;
			padding-top: 2px;
			padding-bottom: 2px;
		}
	}
}

@media (max-width: 500px) {
	#activities #activitylist li {
		height: 57px;

		p.time {
			height: 56px;
			padding: 18px 7px 0;
		}
		p.place {
			float: none;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			padding: 5px 10px 0 0;
			text-align: right;
			font-size: 0.8em;
		}
		p.title {
			padding: 6px 10px 0;
		}
	}
}