// Place all the styles related to the core controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "bootstrap";

/* Homepage */

main#index .intro {
	margin-top: 30px;
	text-align: center;
}

main#index .mainbtn {
	display: block;
	margin-top: 30px;
	text-wrap: normal;
}

@media (min-width: 768px) {
	main#index .intro {
		margin-top: 100px;
	}
	main#index .mainbtn {
	}
}