<%# add navigation links to this file %>
<li>
	<a href="<%= frontactivities_path %>">
		<span class="glyphicon glyphicon-list"></span>
		&nbsp;List of activities
	</a>
</li>
<li>
	<a href="<%= frontnew_path %>">
		<span class="glyphicon glyphicon-pencil"></span>
		&nbsp;New activity
	</a>
</li>